# Exclude file sper default:
*

# Reinclude Python and C/C++ files again:
!*.py
!*.c
!*.cpp
!*.h
!*.hpp

# Reinclude proto files:
!proto/
!*.proto

# Reinclude Gitignore and README
!.gitignore
!README.md
