# Exclude files per default:
*

# Include Python and C/C++ files again:
!*.py
!*.c
!*.cpp
!*.h
!*.hpp

# Include requirements.txt:
!requirements.txt

# Include proto regen file:
!regen_proto.sh

# Include proto files:
!proto/
!*.proto

# Include .gitignore and README
!.gitignore
!README.md
